
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
.root{
    position:relative;
}
html{
    font-family: Arial;
}

.header {
    height: 60px;
    background-color: #147dbc;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.header .name-block{
    height: 60px;
    width:250px;
    line-height: 70px;
    text-align: center;
    display:inline-block;
}
.company-name{
    color:#fff;
    display:  inline-block;
    font-size: 30px;
    margin: 0;
}
.header .sub-head{
    flex-direction: row;
    display: flex;
    float:right;
    color: #fff;
    margin-right: 30px;
    line-height: 60px;
}
.clear{
    clear:both;
}
.sub-head #date{
    margin-right: 20px;
}
.sub-head .logout{
    display: inline-block;
    border-radius: 8px;
    position:relative;
    width: 30px;
    height: 30px;
}

.sub-head .logout:hover a{
    color: #570698;
}
.sub-head .logout a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.sub-header{
    width:100%;
    height: 40px;
}
.instruction{
    font-size: 20px;
    font-weight: 400;
}
.user-pic {
    cursor: pointer;
    border-radius: 50%;
    margin-top: 15px;
    margin-left: 10px;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 2%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: #f5f5f5;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h2 {
    font-weight: 500;
    font-size: 15px;
    color: #000;
}

.user-info img {
    width: 30px;
    margin-right: 15px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #a4a3a3;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    margin: 0;
}

.sub-menu-link img {
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    /*transform: transform 0.5s;*/
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;
    color: #000;
}

.main{
    height:100%;
    margin-top: 60px;
}
.sidebar{
    z-index:1;
    position:fixed;
    overflow-x:hidden;
    width:250px;
    height:100%;
    background-color: #1b3345;
    display:  inline-block;
}
.sidebar .category{
    padding: 20px 10px;
}
.sidebar .category li{
    padding: 10px 2px;
    border-radius: 8px;
    cursor: pointer;
}
.sidebar .category li:hover{
    background-color: #fff;
}
.sidebar .category li:hover a{
    color: #000;
}
.sidebar li:hover .sub-nav{
    display: block;
    color:#fff;
}
.sub-nav li:hover {
    color:#000;
}
.sidebar .category li a{
    padding-left:6px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
}

.sidebar .category .sub-nav{
    color:#fff;
    position: absolute;
    display: none;
}
.sidebar .category .sub-nav li{
    list-style-type: none;
    color:#fff;
}
.sub-nav li a {
    color:#fff;
}
.sub-nav li:hover{
    cursor:pointer;
}
.sidebar .category li a i{
    margin-right: 6px;
}
.content{
    margin-left: 250px;
    padding-top: 25px;
}
.content .table-name{
    margin-top: 30px;
    text-align: center;
    color: #3685B4;
}
.btn-add{
    display:inline-block;
    margin-bottom: 10px;
    padding-left: 20px;
}
.btn-add i.fad{
    font-size: x-large;
}
.btn-add i.fad:hover{
    color:green;
}
.table{
    padding: 0 20px;
    border:none;
}
.table thead tr{
    text-align: center;
    background-color:#3685B4;
    color:#fff;
    font-size: 18px;
}
.table tr td{
    border-radius: 5px;
    text-align: center;
}
.table tbody tr:hover{
    background-color:rgba(0,0,0,0.2);
}

.btn-delete button i{
    color: #000;
}

.root .footer{
    z-index: 1;
    position:fixed;
    height:24px;
    width:100%;
    background-color:#0b90df;
    bottom:0;
}
.root .footer .slogan{
    color:#fff;
    text-align: center;
    opacity:0.7;
    font-size: 13px;
    margin-top: 3px;
}
.add-form {
    margin: 25px 30px;
}
.add-form .form-heading{
    width: 100%;
    height:70px;
    background: #43A1CA;
    border-radius: 8px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 40px;
}
.add-form .inputs-list label{
    width: 200px;
}
.btn-save{
    margin: 15px 10px;
    border-radius: 3px;
    border-color: #f1f1f1;
    float:right;
    width: 70px;
    background: #3685B4;
    color:#fff;
}
.btn-save:hover{
    background-color:#f1f1f1;
    color:#000;
}

