@import url('https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B');

/* #container{
    position:relative;
    top:0;
    left:0;
    margin:0 50px;
    color:#fff;
    font-family: Calibri;
} */


.header{
    height:30px;
    margin-top:50px;
    line-height: 30px;
}

.header h3{
    margin:0;
    display: inline-block;
    font-size: 40px;
}

@keyframes move {

    0%{
        opacity : 0;
        transform: translateX(0);
    }10%{
         opacity : 1;
     }90%{
          opacity : 1;
      }100%{
           opacity: 0;
           transform: translateX(50vh);
       }
}

body{
    font-family: 'Poppins', sans-serif;
}

.box-area{
    height: 600px;
    width: 930px;
}

.img-fluid{
    margin-top: 220px;
}

.name-logo {
    justify-self: center;
    align-self: center;
}


.text1{
    color:white;
}

a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.header-text {
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;

}

.button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #1358c1;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    width: 200px;
  }

  .button-5:hover,
  .button-5:focus {
    background-color: #256ece;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }

  .button-5:hover {
    transform: translateY(-2px);
  }


.mg2 .sub-nav{
    position:absolute;
    margin-top: 0;
    display:none;
    padding-left:0px;
}

.mg2:hover .sub-nav{
    display: block;
}

.mg2 .sub-nav li{
    list-style-type: none;
    background-color:#fff;
    border-radius: 2px;
    padding:10px 20px 10px 20px;
}

.sub-nav li:hover{
    background-color:#ccc;
    cursor: pointer;
}

.sub-nav li a{
    text-decoration: none;
    color:#000;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.start-content{
}

.content{
    display: inline-block;
    margin-top: 100px;
    font-size: 5rem;
    position: relative;
    overflow: hidden;
    animation: 2s mycontent;
    animation-direction: alternate;
}

@keyframes mycontent {
    0%{
        opacity: 0;
        font-size: 0px;
    } 100%{
          opacity: 1;
          font-size: 5rem;
      }
}


@keyframes ani {
    0%{
        transform: rotateX(0deg) rotateY(0deg);
    }
    20%{
        transform: rotateX(-90deg) rotateY(130deg);
    }

    60%{
        transform: rotateX(180deg) rotateY(-130deg);
    }

    100%{
        transform: rotateX(0deg) rotateY(0deg);
    }

}

.card:nth-child(1){
    left: 100px;
    transform: rotateY(-90deg);
}
.card:nth-child(2){
    right: 100px;
    transform: rotateY(90deg);
}
.card:nth-child(3){
    bottom: 100px;
    transform: rotateX(90deg);
}
.card:nth-child(4){
    top: 100px;
    transform: rotateX(-90deg);
}
.card:nth-child(5){
    transform: translateZ(-100px);
}
.card:nth-child(6){
    transform: translateZ(100px);
}

.modal{
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display:none;
}
.modal.open{
    display:flex;
}
.modal-container{
    border-radius: 8px;
    background-color:#FFF;
    width:600px;
    min-height: 300px;
    margin: 200px auto auto;
    position:relative;
    font-family: Calibri;
    padding:20px;
    animation:modalFadeIn ease 0.5s;
}
.modal-close{
    color: #18202a;
    display: inline-block;
    font-size: x-large;
    line-height: 80px;
}
.modal-close:hover{
    opacity: 0.5;
    cursor:pointer;
}
.modal-header{
    height:80px;
}
.modal-header h3{
    display: inline-block;
    color:#272727;
    font-size: 24px;
    font-family: Arial;
    font-weight: lighter;
}
.modal-header .modal-des{
    width:60%;
    display: inline-block;
    font-size: 17px;
    text-align: right;
    color:#0d6efd;
    margin-right: 15px;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.modal-body{
    padding:35px;
}
.modal-body-items{
    height:30px;
    background-color: #f1f1f1;
    margin-bottom: 40px;
    padding:0;

}
.modal-body-items .modal-label{
    display: block;
    font-size: 18px;
    font-weight: lighter;
}
.modal-body-items .modal-input{
    border:none;
    background-color:#f1f1f1;
    width:100%;
    padding:0;
}
.modal .btn-login{
    align-items: center;
    background-clip: padding-box;
    background-color: #1358c1;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    width: 200px;
    margin-left:185px;
}
@keyframes modalFadeIn{
    from{
        opacity:0;
        transform: translateY(-100px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }
}
